<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>thor-web</title>
  <script type="application/javascript">
    // Check for wasm support.
    if (!('WebAssembly' in window)) {
      alert('you need a browser with wasm support enabled :(');
    }
    console.log("home");
  </script>
</head>
<body>
<div id="app"></div>
</body>
</html>
